:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  /* color: rgba(223, 193, 193, 0.87);
  background-color: transparent; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 80px;
  background-color: #1a202c;
}

.movie-overview {
  align-items: center;
  margin-bottom: 1rem; 
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: none;
  background-color: transparent;
  color: white;
}

.movie-card {
  background-color: transparent;
  display: inline-block;
  margin: 5px;
  filter: drop-shadow(5px 5px black);
  color: white;
}

.movie-grid {
  background-color: transparent;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
}

.modal {
  position: fixed; /* Stays in place regardless of scrolling */
  z-index: 1; /* Overlays other content */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if content overflows */
  background-color: transparent; /* Transparent black background */
  animation-name: slideIn; /* Animation for modal appearance */
  animation-duration: 0.4s;
  display: flex;
}

.modal-content {
  background-color: #1a202c; /* White background for the modal window */
  margin: auto; /* Center the modal horizontally */
  padding: 20px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners for a softer look */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  animation-name: fadeInContent; /* Animation for modal content appearance */
  color: white;
  animation-duration: 0.3s;
  animation-delay: 0.1s; /* Delay slightly to mimic window opening effect */
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  position: absolute; /* Position close button in top right corner */
  top: 10px;
  right: 10px;
  /* background-color: #1a202c; Remove default button background */
  border: none; /* Remove default button border */
  color: white; /* Black close button text */
  font-size: 20px; /* Larger font size for close button */
  cursor: pointer; /* Indicate clickable behavior */
}

.close-button:hover {
  transform: none; /* Change close button color on hover for feedback */
}

.modal-poster {
  width: 30%; /* Display image full width within content area */
  margin-bottom: 1rem; /* Add some space between image and text */
}

.save-to-queue-button {
  background-color: white;
  border: none;
  color: #1a202c;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  /* Add some margin from content */
}

.save-to-queue-button:hover {
  background-color: #1a202c;
  color:  white;
}

.movie-poster {
  max-width: 150px;
  max-height: 250px;
}

.queue {
  position: relative;
  top: 5px; /* Adjust top position as needed */
  right: 5px;
  z-index: 1;
  background-color: transparent;
  color: white;
}

.user-welcome-container {
  position: absolute;
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  padding: 10px; /* Add padding for better readability */
  color: whitesmoke;
}

.movie-trailer {
  margin-bottom: 10px;
}

/* Reset some basic styles */
* {
  margin: .1rem;
  padding: .1rem;
  box-sizing: border-box;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 0rem;
  box-shadow: none;
}

.login-register-container,
.search-container,
.sort-filter-container {
  display: flex;
  gap: 10px;
}

.login-button, .register-button, .search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: white;
  color:  #1a202c;
}

.login-button:hover, .register-button:hover, .search-button:hover {
  background-color: #1a202c;
  color:  white;
}

.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  background-color: white;
  color: #1a202c;
}

.search-box::placeholder {
  color: #1a202c;
}

.sort-controls-container,
.filter-controls-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #1a202c;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); /* Slide from left initially */
  }
  to {
    transform: translateX(0); /* Slide to center position */
  }
}

@keyframes fadeInContent {
  from {
    opacity: 0; /* Initially transparent */
  }
  to {
    opacity: 1; /* Fade in to full opacity */
  }
}